<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Training Automation" verbose="1" preserve-order="true" parallel="false" thread-count="1">
    <test name="sample">
         <classes>
             <class name="test.TestCases"/>
          </classes>
     </test>     
</suite>

